<h1 class="text-center text-musaca">All Receipts</h1>
<hr class="hr-2 bg-musaca">
@if(Model.Receipts.Count() > 0)
{
<div class="d-flex justify-content-between">
    <table class="table table-hover table-bordered border-musaca">
        <thead>
        <tr class="row">
            <th scope="col" class="col-lg-5 d-flex justify-content-center"><h3 class="text-musaca">Id</h3></th>
            <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3 class="text-musaca">Issued On</h3></th>
            <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3 class="text-musaca">Total</h3></th>
            <th scope="col" class="col-lg-2 d-flex justify-content-center"><h3 class="text-musaca">Cashier</h3></th>
            <th scope="col" class="col-lg-1 d-flex justify-content-center"><h3 class="text-musaca">Actions</h3></th>
        </tr>
        </thead>
        <tbody>
        @foreach(var receipt in Model.Receipts)
        {
        <tr class="row">
            <th scope="row" class="col-lg-5 d-flex justify-content-center"><h5>@receipt.Id</h5></th>
            <td class="col-lg-2 d-flex justify-content-center"><h5>@receipt.IssuedOn</h5></td>
            <td class="col-lg-2 d-flex justify-content-center"><h5>$@receipt.Total</h5></td>
            <td class="col-lg-2 d-flex justify-content-center"><h5>@receipt.Cashier</h5></td>
            <td class="col-lg-1 d-flex justify-content-center">
                <form method="get" action="/receipts/details">
                    <button type="submit" name="id" value="@receipt.Id" class="btn bg-musaca">Details</button>
                </form>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
}